<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gobang.mapper.UserMapper">
    <insert id="insert">
        insert into user values (null, #{username}, #{password}, 1000, 0, 0);
    </insert>

    <select id="selectByName" resultType="com.example.gobang.model.User">
        select * from user where username = #{username};
    </select>


    <update id="userWin">
        update user set totalCount = totalCount + 1, winCOunt = wincount + 1, score = score + 50
        where userid = #{userid}
    </update>

    <update id="userLose">
        update user set totalCount = totalCount + 1, score = score - 50
        where userid = #{userid}
    </update>
</mapper>