<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinemusic.mapper.LoveMusicMapper">

    <select id="findLoveMusic" resultType="com.example.onlinemusic.model.Music">
        select * from lovemusic where user_id=#{userid} and music_id=#{musicid};
    </select>
    
    <insert id="insertLoveMusic">
        insert into lovemusic (user_id,music_id) values (#{userid},#{musicid});
    </insert>
</mapper>